<!DOCTYPE html>
<html>
<head>
    <title>{{#block "AgriTech"}}{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Baskerville|Modak&display=swap" rel="stylesheet">
</head>
<body style=";">
{{#block "content"}}
{{/block}}

    <!--end main template-->
{{#block "footer"}}
        <footer class="footer">
            <div class="container">
                <hr>
                <p>Contact information: <a href="Agritech.com">
                    Agrisupply@gmail.com</a>.</p>
            </div>
        </footer>
    </section>



    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}
</html>
